* {
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
}

.board {
  display: grid;
  border: 2px solid #000;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 80vmin;
  height: 80vmin;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
}

img {
  width: 80%;
  height: 80%;
}
